<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sample Webshop - Shopping Cart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link th:href="@{/css/w3.css}" type="text/css" rel="stylesheet" >
    <script src="js/app.js" defer type="text/javascript"></script>
</head>

<style>
    html,body,h1,h2,h3,h4,h5,h6 { font-family: "Roboto", sans-serif; }
    .w3-sidebar {z-index: 3;width: 250px;top: 60px;bottom: 50px;height: inherit;}
    .fill100 {height: 100%;}
</style>

<body>

<!-- This is the header in case of a large or medium display -->
<header class="w3-container w3-hide-small w3-hide-medium w3-top w3-orange">
    <div class="w3-bar-item w3-left">
        <a th:href="@{/shop}" class="w3-button w3-hover-amber"><b>MANDARINE</b> shop</a>
    </div>
    <div class="w3-bar-item w3-right">
        <div th:if="${#strings.isEmpty(user.name)}">
            <a th:href="@{/login}" class="w3-button w3-hover-amber">
                <i class="fa fa-user"></i> Sign in</a>
        </div>
        <div th:if="${not #strings.isEmpty(user.name)}">
            <a th:href="@{/logout}" class="w3-button w3-hover-amber">
                <i class="fa fa-user"></i> Sign out (<span th:text="${user?.email}"></span>)
            </a>
        </div>
    </div>
    <div class="w3-bar-item w3-right">
        <a th:href="@{/cart}" class="w3-button w3-hover-amber">
            <i class="fa fa-shopping-cart"></i> Cart (<span th:text="${cartContentSize}"></span>)</a>
    </div>
</div>
</header>
<!-- This is the header in case of a small display -->
<header class="w3-hide-large w3-top w3-black">
    <div class="w3-bar-item w3-left">
        <a href="javascript:void(0)" class="w3-button w3-left-align" onclick="w3_open()">
            <i class="fa fa-bars"></i></a>
    </div>
    <div class="w3-bar-item w3-left">
        <a th:href="@{/shop}" class="w3-button w3-hover-amber"><b>MANDARINE</b> shop</a>
    </div>
    <div class="w3-bar-item w3-right">
        <div th:if="${#strings.isEmpty(user.name)}">
            <a th:href="@{/login}" class="w3-button w3-hover-amber">
                <i class="fa fa-user"></i></a>
        </div>
        <div th:if="${not #strings.isEmpty(user.name)}">
            <a th:href="@{/logout}" class="w3-button w3-hover-amber">
                <i class="fa fa-user"></i>(<span th:text="${user?.email}"></span>)</a>
        </div>
    </div>
    <div class="w3-bar-item w3-right">
        <a th:href="@{/cart}" class="w3-button w3-hover-amber">
            <i class="fa fa-shopping-cart"></i>(<span th:text="${cartContentSize}"></span>)</a>
    </div>
</header>

<section class="w3-main w3-container w3-display-container w3-section w3-center"
         style="margin-left:280px; margin-top: 25px;">
    <div class="w3-responsive w3-threequarter">
        <div class="w3-container">
            <div class="w3-panel w3-border-bottom">
                <h2>Shopping Cart</h2>
            </div>
            <h4>
                Subtotal (<span th:text="${cartContentSize}"></span> items):
                <span th:text="${#numbers.formatDecimal(subTotalSum, 1, 2, 'COMMA')}"></span> Euro
            </h4>
            <div th:if="${cartContentSize} == 0">
                <a class="w3-disabled w3-center w3-button w3-yellow w3-hover-amber w3-round-xlarge">
                    Proceed to checkout</a>
            </div>
            <div th:unless="${cartContentSize} == 0">
                <a th:href="@{/order}"
                    class="w3-center w3-button w3-yellow w3-hover-amber w3-round-xlarge">
                    Proceed to checkout</a>
            </div>
        </div>

        <table class="w3-table w3-bordered" style="margin-top: 25px;">
            <thead>
            <tr>
                <th>Product</th>
                <th class="w3-right-align">Price (p. Unit)</th>
                <th class="w3-center">Quantity</th>
                <th class="w3-right-align">Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="products">
            <tr th:if="${cartContents.isEmpty}">
                <td colspan="5">No articles in shopping cart</td>
            </tr>
            <tr th:each="cartContent : ${cartContents}">
                <td style="vertical-align: middle;">
                    <span th:text="${cartContent.product.title}"></span></td>
                <td style="text-align: right; vertical-align: middle;">
                    <span th:text="${cartContent.product.price}"></span> €</td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="w3-bar">
                        <div class="w3-bar-item w3-padding-small">
                            <a th:href="@{/cartContent(id=${cartContent.id}, change=-1)}">
                                <i class="fa fa-minus-square-o"></i>
                            </a>
                        </div>
                        <div class="w3-bar-item w3-padding-small">
                            <span th:text="${cartContent.quantity}"></span>
                        </div>
                        <div class="w3-bar-item w3-padding-small">
                            <a th:href="@{/cartContent(id=${cartContent.id}, change=1)}">
                                <i class="fa fa-plus-square-o"></i>
                            </a>
                        </div>
                    </div>
                </td>
                <td style="text-align: right; vertical-align: middle;">
                    <span th:text="${cartContent.price}"></span> €</td>
                <td style="text-align: right; vertical-align: middle;">
                    <form th:action="@{/delete_product_from_cart(cartContentId=${cartContent.id})}" method="post">
                        <button class="w3-button w3-yellow w3-hover-amber w3-round-xlarge w3-small">Delete</button>
                    </form>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="w3-section" style="margin-bottom: 50px;">.</section> <!-- hack! -->

<footer class="w3-container w3-bottom w3-white">
    <div class="w3-bar">
        <a th:href="@{/info}" class="w3-button w3-left-align w3-hover-white">More Information</a>
        <a href="https://github.com/tomwey2/webshop" class="w3-button w3-right w3-hover-white">Sources at github.com
            <i class="fa fa-github"></i></a>
    </div>
</footer>

</body>
</html>