<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sample Webshop - Order Confirmation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link th:href="@{/css/w3.css}" type="text/css" rel="stylesheet" >
    <script src="js/app.js" defer type="text/javascript"></script>
</head>

<style>
    html,body,h1,h2,h3,h4,h5,h6 { font-family: "Roboto", sans-serif; }
    .w3-sidebar {z-index: 3;width: 250px;top: 60px;bottom: 50px;height: inherit;}
    .fill100 {height: 100%;}
</style>

<body>

<!-- This is the header in case of a large or medium display -->
<header class="w3-container w3-hide-small w3-hide-medium w3-top w3-left-align w3-orange">
    <div class="w3-bar">
        <div class="w3-left">
            <div class="w3-bar-item">
                <a th:href="@{/shop}" class="w3-button w3-hover-amber"><b>MANDARINE</b> shop</a>
            </div>
        </div>
        <div class="w3-right">
            <div class="w3-bar-item">
                <a th:href="@{/cart}" class="w3-button w3-hover-amber">
                    <i class="fa fa-shopping-cart"></i> Cart (<span th:text="${cartContentSize}"/>)</a>
            </div>
            <div class="w3-bar-item">
                <div th:if="${#strings.isEmpty(user.name)}">
                    <a th:href="@{/login}" class="w3-button w3-hover-amber">
                        <i class="fa fa-user"></i> Sign in</a>
                </div>
                <div th:if="${not #strings.isEmpty(user.name)}">
                    <a th:href="@{/logout}" class="w3-button w3-hover-amber">
                        <i class="fa fa-user"></i> Sign out (<span th:text="${user?.email}"/>)
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- This is the header in case of a small display -->
<header class="w3-hide-large w3-top w3-black">
    <div class="w3-bar">
        <div class="w3-left">
            <div class="w3-bar-item">
                <a href="javascript:void(0)" class="w3-button w3-left-align" onclick="w3_open()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="w3-bar-item">
                <a th:href="@{/shop}" class="w3-button w3-hover-amber"><b>MANDARINE</b> shop</a>
            </div>
        </div>
        <div class="w3-right">
            <div class="w3-bar-item">
                <a th:href="@{/cart}" class="w3-button w3-hover-amber">
                    <i class="fa fa-shopping-cart"></i>(<span th:text="${cartContentSize}"/>)</a>
            </div>
            <div class="w3-bar-item">
                <div th:if="${#strings.isEmpty(user.name)}">
                    <a th:href="@{/login}" class="w3-button w3-hover-amber">
                        <i class="fa fa-user"></i></a>
                </div>
                <div th:if="${not #strings.isEmpty(user.name)}">
                    <a th:href="@{/logout}" class="w3-button w3-hover-amber">
                        <i class="fa fa-user"></i>(<span th:text="${user?.email}"/>)
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="w3-main w3-container w3-section" style="margin-left:250px; margin-top: 50px;">
    <div class="w3-responsive w3-threequarter">
        <div class="w3-container" style="margin-top: 50px;">
            <div class="w3-container">
                <div class="w3-panel ">
                    <h2>Order Confirmation</h2>
                    <p><b>Order: <span th:text="${order.number}" /></b></p>
                    <p>The order process was only fictive in order to demonstrate the functionality.</p>
                    <p>If you are logged in with your own email (after the registration process) then the system
                        has sent you a confirmation email. Just for demonstration of the system's
                        functionality.</p>
                    <p>If you are logged as one of the demo users 'john.doe@text.com' or 'jane.doe@text.com' then
                        nothing more happens.</p>
                    <p>You are welcome to send me any comments. You find the contact information at the information
                        page (link at bottom left of this side).</p>
                    <p>Thank you for your interest!</p>
                    <a th:href="@{/shop}" class="w3-center w3-button w3-yellow w3-hover-amber w3-round-xlarge">
                        Back to the shop</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3-section" style="margin-bottom: 50px;">.</section> <!-- hack! -->

<footer class="w3-container w3-bottom w3-white">
    <div class="w3-bar">
        <a th:href="@{/info}" class="w3-button w3-left-align w3-hover-white">More Information</a>
        <a href="https://github.com/tomwey2/webshop" class="w3-button w3-right w3-hover-white">Sources at github.com
            <i class="fa fa-github"></i></a>
    </div>
</footer>

</body>

</html>