<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Sample Webshop - Information</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Fonts-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <!--
    <link
      th:href="@{bootstrap-5.1.1-dist/css/bootstrap.css}"
      type="text/css"
      rel="stylesheet"
    />
    -->

    <!--own CSS-->
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-md navbar-light mandarine sticky-top">
      <div class="container">
        <a class="navbar-brand fs-5 fw-bold" th:href="@{/shop}"
          >Mandarine Shop
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto fw-bold">
            <li class="nav-item">
              <a th:href="@{/}" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/cart}" class="nav-link">
                <i class="fa fa-shopping-cart me-1"></i>
                Cart (<span th:text="${cartContentSize}"></span>)
              </a>
            </li>
            <li class="nav-item">
              <div th:if="${#strings.isEmpty(user.name)}">
                <a th:href="@{/login}" class="nav-link">
                  <i class="fa fa-user me-1"></i>Sign in
                </a>
              </div>
              <div th:if="${not #strings.isEmpty(user.name)}">
                <a th:href="@{/logout}" class="nav-link">
                  <i class="fa fa-user me-1"></i>
                  Sign out (<span th:text="${user?.email}"></span>)
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row text-center">
        <h3>Copyright</h3>
        <p>(c) 2021 Thomas Weyrath</p>
      </div>

      <div id="contact" class="container">
        <div class="row text-center">
          <div class="col-12">
            <h2>Connect</h2>
          </div>
          <div class="col-12 social">
            <a href="#" class="bi-twitter"></a>
            <a href="#" class="bi-github"></a>
            <a href="#" class="bi-google"></a>
          </div>
        </div>
      </div>

      <div id="imprint" class="container">
        <h3>Imprint</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet atque
          accusamus, minus debitis tempore inventore obcaecati quos ad tempora,
          iste aut esse nobis nisi accusantium facere, quam corporis ullam odio!
        </p>
      </div>

      <div id="conditions" class="container">
        <h3>Condtions</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet atque
          accusamus, minus debitis tempore inventore obcaecati quos ad tempora,
          iste aut esse nobis nisi accusantium facere, quam corporis ullam odio!
        </p>
      </div>

      <div id="licenses" class="container">
        <h3>License Information</h3>
        <p>Copyright 2021 by Thomas Weyrath</p>
        <p>
          This product includes software developed by the
          <a href="https://www.apache.org/">Apache Software Foundation</a>. The
          following libraries with Apache 2.0 license are used:
        </p>
        <ul>
          <li>Spring boot</li>
          <li>Apache Tomcat</li>
          <li></li>
        </ul>
        <p>
          This product also includes the following libraries which are covered
          by the GNU GPL and GNU LGPL Licenses:
        </p>
        <ul>
          <li>Maria DB</li>
        </ul>
      </div>
    </div>

    <footer>
      <ul class="nav">
        <li class="nav-item">
          <a th:href="@{/info}" class="nav-link"
            >&copy; 2021 More Information</a
          >
        </li>
        <li class="nav-item ms-auto">
          <a href="https://github.com/tomwey2/webshop" class="nav-link"
            >Sources at github.com <i class="bi bi-github"></i
          ></a>
        </li>
      </ul>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"
    ></script>
    <!--
    <script
      src="bootstrap-5.1.1-dist/js/bootstrap.bundle.min.js"
      defer
      type="text/javascript"
    ></script>
    -->
  </body>
</html>
