<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sample Webshop - Proceed to checkout</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--Fonts-->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Roboto"
            rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <!--
    <link
      th:href="@{bootstrap-5.1.1-dist/css/bootstrap.css}"
      type="text/css"
      rel="stylesheet"
    />
    -->

    <!--own CSS-->
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet"/>
</head>

<body>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-md navbar-light mandarine sticky-top">
    <div class="container mandarine">
        <a class="navbar-brand fs-5 fw-bold" th:href="@{/shop}">
            Mandarine Shop
        </a>
        <ul class="d-md-none d-lg-none nav ms-auto fw-bold">
            <li class="nav-item">
                <a th:href="@{/cart}" class="nav-link mandarine">
                    <i class="bi bi-cart me-1"></i>
                    (<span th:text="${cartContentSize}"></span>)
                </a>
            </li>
            <li class="nav-item">
                <div th:if="${#strings.isEmpty(user.name)}">
                    <a th:href="@{/login}" class="nav-link mandarine">
                        <i class="bi bi-person me-1"></i>
                    </a>
                </div>
                <div th:if="${not #strings.isEmpty(user.name)}">
                    <a
                            th:href="@{/logout}"
                            class="nav-link mandarine"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            th:title="${user?.email}">
                        <i class="bi bi-person-fill me-1"></i>
                    </a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto fw-bold">
                <li class="nav-item">
                    <a th:href="@{/cart}" class="nav-link">
                        <i class="bi bi-cart me-1"></i>
                        Cart (<span th:text="${cartContentSize}"></span>)
                    </a>
                </li>
                <li class="nav-item">
                    <div th:if="${#strings.isEmpty(user.name)}">
                        <a th:href="@{/login}" class="nav-link">
                            <i class="bi bi-person me-1"></i>Sign in
                        </a>
                    </div>
                    <div th:if="${not #strings.isEmpty(user.name)}">
                        <a th:href="@{/logout}" class="nav-link">
                            <i class="bi bi-person-fill me-1"></i>
                            Sign out (<span th:text="${user?.email}"></span>)
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main -->
<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col text-center">
            <h3>Checkout</h3>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h4>
                Total (<span th:text="${cartContentSize}"></span> items):
                <span th:text="${#numbers.formatDecimal(totalSum, 1, 2, 'COMMA')}">
                </span>
                Euro
            </h4>
        </div>
    </div>

    <div class="container d-none d-md-block mt-3 mb-1">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col" class="text-end">Price (p. Unit)</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-end">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${cartContents.isEmpty}">
                <td colspan="4">No articles in shopping cart</td>
            </tr>
            <tr th:each="cartContent : ${cartContents}">
                <td>
                    <span th:text="${cartContent.product.title}"></span>
                </td>
                <td class="text-end">
                <span
                    th:text="${#numbers.formatDecimal(cartContent.product.price, 1, 2, 'COMMA')} + ' €'">
                </span>
                </td>
                <td class="text-center">
                    <span th:text="${cartContent.quantity}"></span>
                </td>
                <td class="text-end">
                <span th:text="${#numbers.formatDecimal(cartContent.price, 1, 2, 'COMMA')} + ' €'">
                </span>
                </td>
            </tr>
            <tr>
                <td><b>Subtotal</b></td>
                <td></td>
                <td></td>
                <td class="text-end">
                    <b>
                    <span th:text="${#numbers.formatDecimal(subTotalSum, 1, 2, 'COMMA')} + ' €'">
                    </span>
                    </b>
                </td>
            </tr>
            <tr>
                <td>Shipping Costs</td>
                <td></td>
                <td></td>
                <td class="text-end">
                <span th:text="${#numbers.formatDecimal(shippingCosts, 1, 2, 'COMMA')} + ' €'">
                </span>
                </td>
            </tr>
            <tr>
                <td><b>Total to pay</b></td>
                <td></td>
                <td></td>
                <td class="text-end">
                    <b>
                    <span th:text="${#numbers.formatDecimal(totalSum, 1, 2, 'COMMA')} + ' €'">
                    </span>
                    </b>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container d-block d-md-none mt-3 mb-5">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-end">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${cartContents.isEmpty}">
                <td colspan="3">No articles in shopping cart</td>
            </tr>
            <tr th:each="cartContent : ${cartContents}">
                <td>
                    <span th:text="${cartContent.product.title}"></span>
                </td>
                <td class="text-center">
                    <span th:text="${cartContent.quantity}"></span>
                </td>
                <td class="text-end">
                <span th:text="${#numbers.formatDecimal(cartContent.price, 1, 2, 'COMMA')} + ' €'">
                </span>
                </td>
            </tr>
            <tr>
                <td><b>Subtotal</b></td>
                <td></td>
                <td class="text-end">
                    <b>
                    <span th:text="${#numbers.formatDecimal(subTotalSum, 1, 2, 'COMMA')} + ' €'">
                    </span>
                    </b>
                </td>
            </tr>
            <tr>
                <td>Shipping Costs</td>
                <td></td>
                <td class="text-end">
                    <span th:text="${#numbers.formatDecimal(shippingCosts, 1, 2, 'COMMA')} + ' €'">
                    </span>
                </td>
            </tr>
            <tr>
                <td><b>Total to pay</b></td>
                <td></td>
                <td class="text-end">
                    <b>
                        <span th:text="${#numbers.formatDecimal(totalSum, 1, 2, 'COMMA')} + ' €'">
                        </span>
                    </b>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center">
        <div class="col-xs-8 col-sm-8 col-md-5 col-lg-3 mb-2 mt-2">
            <a class="btn light-button" th:href="@{/order_cancel}">
                Cancel and empty the cart
            </a>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-5 col-lg-3 mb-2 mt-2">
            <a class="btn light-button" th:href="@{/order_confirm}">
                Order and Checkout
            </a>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <nav class="nav nav-fill">
        <a th:href="@{/info}" class="nav-link">
            &copy; 2021 Thomas Weyrath
        </a>
        <a th:href="@{/info}" class="nav-link">
            More Information
        </a>
        <a href="https://github.com/tomwey2/webshop" class="nav-link">
            Sources at github.com <i class="bi bi-github"></i>
        </a>
    </nav>
</footer>

<!-- Bootstrap Bundle with Popper -->
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"
></script>
<!--
<script
src="bootstrap-5.1.1-dist/js/bootstrap.bundle.min.js"
defer
type="text/javascript"
></script>
--></body>
</html>
