<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Sign Up Form</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Fonts-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <!--
    <link
      th:href="@{bootstrap-5.1.1-dist/css/bootstrap.css}"
      type="text/css"
      rel="stylesheet"
    />
    -->

    <!--own CSS-->
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light mandarine sticky-top">
      <div class="container">
        <a class="navbar-brand fs-5 fw-bold" th:href="@{/shop}"
          >Mandarine Shop
        </a>
      </div>
    </nav>

    <div class="container mt-3">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6">
          <h3 class="text-center">Sign Up</h3>

          <form
            th:action="@{/register}"
            th:object="${registrationRequest}"
            method="post"
          >
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                class="form-control"
                type="text"
                th:field="*{name}"
                name="name"
                id="name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                class="form-control"
                th:field="*{email}"
                name="email"
                id="email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                class="form-control"
                type="password"
                th:field="*{password}"
                name="password"
                id="password"
                required
              />
            </div>
            <button type="submit" class="btn light-button">Sign Up</button>
          </form>

          <ul class="nav mt-2">
            <li class="nav-item">Already have an account?</li>
            <li class="nav-item ms-auto">
              <a class="nav-link" th:href="@{/login}"><b>Sign in</b></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
